* {
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}
.bodyright {
	float: left;
	background-color:yellow;
	color:black;
	width:90%;
	height:100%;
	padding:10px;
}
.bodyleft {
	float:left;
	background-color:black;
	color:white;
	width:10%;
	height:100%;
	padding:10;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width: 600px){
	.column{
		width:100%;
	}
}