/* FONT FAMILY

font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;

*/
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    padding:0;
    margin:0;
}
.header {
    background-color: #248232;
    color : #ffffff;
    height: 10%px;
    padding: 20px;
    font-size: 50px;
    /* border-radius:10px 10px; */
    box-shadow: 0 5px 10px #888888;
}
.content {
    position:absolute;
    top: 10%px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
}
.menu {
    display : block;
}
.menu li:hover{
    background-color:#2ba84a;
}
.menu li {
    display : inline-block; 
    padding : 8px;
    margin-bottom: 7px;
    background-color: #248232;
    color : #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu ul{
    list-style-type: none;
    background-color:#248232;
}